/* Estilos para el título principal */

.titulo-rojo {
    color: red;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: red;
  text-shadow: 2px 2px #E2E8F0;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Estilos para la barra de navegación lateral */
.css-79elbk  {
background-color: #011839;
    background-image: none;
    color: #ffffff
}
.css-pkbazv   {
background-color: #011839;
    background-image: none;
    color: white;
    font-size: 36px;
    font-weight: bold;
}
.css-17lntkn    {
background-color: #011839;
    background-image: none;
    color: white;
    font-size: 36px;
    font-weight: bold;
}
.css-nziaof  {
background-color: #011839;
    background-image: none;
    color: #ffffff
}
.sidebar .sidebar-content {
    background-color: #ff000050;
    color: white;
}

.sidebar .sidebar-content .sidebar-section .title {
    color: green;
}


.sidebar .sidebar-content .sidebar-section {
  margin-top: 30px;
}

.sidebar .sidebar-content .sidebar-section .title {
  font-size: 20px;
  font-weight: 600;
  color: #2D3748;
  margin-bottom: 10px;
}

.sidebar .sidebar-content .sidebar-section select {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #CBD5E0;
  padding: 8px;
  font-size: 36px;
  color: #4A5568;
  background-color: blue;
}

.sidebar .sidebar-content .sidebar-section input[type="date"] {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #CBD5E0;
  padding: 8px;
  font-size: 36px;
  color: #4A5568;
  background-color: blue;
}

/* Estilos para la tabla de resultados */
table {
  margin: 30px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 1200px;
}

thead th {
  background-color: #2B6CB0;
  color: #FFFFFF;
  text-align: left;
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #E2E8F0;
}

tbody td {
  padding: 10px;
}

tbody td a {
  color: #2B6CB0;
  text-decoration: none;
}

/* Estilos para el botón de WhatsApp */
.whatsapp-btn {
  display: inline-block;
  margin-left: 10px;
  background-color: #25D366;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}
.stButton>button {
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 40px 40px;
  border: none;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

/* Centering text in each gray box */
div.css-1ht1j8u.e16fv1kl0 {
  text-align: center;
}

/* Row 1 */
div.css-1r6slb0.e1tzin5v2 {
    background-color: rgb(63, 79, 107);
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
}

/* Row 2 */
div.css-12w0qpk.e1tzin5v2 {
    background-color: rgba(220, 220, 220, 0.60);
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
}
div.css-dm3ece.everg990{

}
.st-emotion-cache-16idsys p {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 20px;
}
.product-box {
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
